
<h2>Editing article</h2>
<%= form_with model: @article do |form| %>
  <%= form.label :title %>
  <div><%= form.text_field :title %></div>
  <%= form.label :content %>
  <div><%= form.text_area :content, size: "60x10" %></div>
  <%= form.submit %>
<% end %>

<%= link_to 'Back', root_path %>
